*{
    font-family: Arial, Helvetica, sans-serif;/*Tipo de fonte*/
          }

body{
    background-image: linear-gradient( to right, #F2F2F2, #8C6E49,#594328, #F2DDB6,#BFAE8E);
}
main{
    background-color:#F2DDB6;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #594328;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    text-align: center;
}
p{
    text-align: justify;

}