body{
    font-family: helvetica, arial, sans-serif;
    background-color: aquamarine;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(109, 108, 108);
    padding: 3px;
    /* os valores no box shadow, neste caso, são: deslocamento horizontal, deslocamento vertical, borrão, espalhamento e cor da sombra, também temos sombras inset e offset (internas e externas)  */
    box-shadow: -4px -4px 5px 2px rgba(0, 0, 0, 0.82);
    
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    }

article{
    background-color: lightgray;
    padding: 5px;
}    

article > aside{
    background-color:rgb(185, 184, 184) ;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}