

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&display=swap');

@font-face{
    font-family:'Android';
    font-weight: normal;
    src: url('../fontes/idroid.otf')

}
/* PSEUDOCLASSE ROOT
Todo documento tem, é a raiz da arvore do documento, onde podemos declarar nossas "variáveis globais", e tudo que for definido aqui encima, vai servir para o documento inteiro, portanto, basicamente, eu posso criar variáveis aqui dentro.
A regra para se criar uma váriavel em CSS é começar com dois traços (--), e após isso, você coloca o nome que quiser em sua variável, logicamente, coloque um nome correspondente com a função que a variável vai exercer em seu documento.
*/
:root{
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    /* Aqui declaramos as fontes como variáveis,  */
    --fonte-padrao: helvetica, arial, verdana, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;

  
}

*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: car(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background: var(--cor4);
    
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
}

header > p{
     color: white;
}

nav{
    background-color: var(--cor5);
}

main{
    background-color: white;
}

main  h1{
    color: var(--cor5);
    font-family:var(--fonte-android);
}
main  h2{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

footer{
    background-color: var(--cor5);
    color: white;
}