body{
    font-family: helvetica, arial, sans-serif;
    background-color: aquamarine;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: rgb(109, 108, 108);
    padding: 3px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    }

article{
    background-color: lightgray;
    padding: 5px;
}    

article > aside{
    background-color:rgb(185, 184, 184) ;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5px;
    margin: 0px;


}