body {
    margin-bottom: 500px;
    color: white;
}

.flexbox {
    height: 300px;
    width: 100%;
    border: 3px solid red;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-wrap: wrap;   */
    /* align-content: space-around;  */
    transition: ease-in-out 0.8s;
    overflow: hidden;


}

.flexbox div {
    
    /* background-image: linear-gradient(to left, #595656, #F2F0F0,#BFBDBD, #262626, #0D0D0D ); */
    /* background-size: 60%; */
    /* background-position: left; */
    border: 2px solid orange;
    width: 150px;
    margin: 15px 10px;
    border-radius: 5px;
    overflow: hidden;
     
}

.flexbox div:hover{
    scale: 1.05;
    
    }



