body {
    margin-bottom: 500px;
}

.flexbox {
    height: 300px;
    border: 3px solid red;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    /* flex-wrap: wrap;
    align-content: space-evenly;*/

}

.flexbox div {
    border: 2px solid orange;
    border-radius: 5px;
    width: 150px;
    margin: 15px 10px;

}